{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    
  {% endif %}
  {% for page in pages %}
    <div class="pageItem dropShadow">
        <div class="pageRemove clickable">x</div>
        <div class="pageTitle"><a href="/{{ page.owner }}/{{ page.title }}"><h1>{{ page.title }}</h1></a></div> <br />
        <div class="pageDescription">
        {{ page.description|safe }}
        </div>
    </div>
  {% endfor %}
    <div class="pageItem dropShadow pageItemCreate clickable">
    <div class="pageItemCreateForm">
    <form action="{{ url_for('add_page') }}" method="post" class="add-entry" style="margin-left:20px;">
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Description:
        <dd><textarea name=description rows=2 cols=40></textarea>
        <dd><input type=submit value=Create>
      </dl>
    </form>
    </div>
    </div>
  
<script>
var Page = (function () {
 
    // constructor
    var module = function (container) {
        this.container = container;
    };
    
    // if not building out of existing dom
    module.prototype.renderUI = function(){
        
    }
    
    // called when dom is ready
    module.prototype.init = function(){
        this.bindUI();
    }
    
    function handlePageRemove(){
        var that = this;
        console.log(that.container.find('.pageTitle'));
        
        $.ajax({
          url: "save",
          type: "POST",
          data: '{"title":"'+that.container.find('.pageTitle').text()+'"}',
          context: document.body,
          contentType: 'application/json;charset=UTF-8' 
        }).success(function(res) { 
            console.log('removed successfully');
            console.log(res);
            that.container.fadeOut(function(){
                that.container.remove();
            });
        }).error(function(err){
            console.log(err);
        });
    }
    
    module.prototype.bindUI = function(){
        this.container.find('.pageRemove').click(handlePageRemove.bind(this));
    }
 

    // return module
    return module;
})();
 
var PageCreate = (function () {
 
    // constructor
    var module = function (container) {
        this.container = container;
    };
    
    // if not building out of existing dom
    module.prototype.renderUI = function(){
        
    }
    
    // called when dom is ready
    module.prototype.init = function(){
        this.bindUI();
    }
    
    // when user clicks on create page
    function handlePageCreateClick(){
        var that = this;
        that.container.find('.pageItemCreateForm').fadeIn();
    }
    
    module.prototype.bindUI = function(){
        this.container.click(handlePageCreateClick.bind(this));
    }
 

    // return module
    return module;
})();
 
$(document).ready(function(){

    $('.pageItem').each(function(index, item){
        var page = new Page($(item));
        page.init();
    });

    var pageCreate = new PageCreate($('.pageItemCreate:first'));
    pageCreate.init();
});

</script>
  
{% endblock %}
